  <ion-toolbar color="primary">
    
    <ion-row class="personal_md">
      <ion-col col-6 class="no_padding_top_bottom" centrato>
          <button ion-button value="portafoglio">
              PORTAFOGLIO
          </button>
        </ion-col>

        <ion-col col-3 class="no_padding_top_bottom" centrato>
            <button ion-button entrate value="entrate">
              ENTRATE
          </button>
          </ion-col>
      
        <ion-col col-3 class="no_padding_top_bottom" centrato>
          <button ion-button uscite value="uscite">
              USCITE
          </button>
        </ion-col>
      </ion-row>
      </ion-toolbar>
<!--
        <button ion-button (click)="portafoglioView()" class="Bottone">
          <ion-icon name="add-circle" ></ion-icon>
        </button>
-->

<ion-content padding color="primary">
  <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="ion-text-center">
    <ion-label color="secondary">434</ion-label>
  </ion-card>

  <ion-list>
    <ion-list-header>{{'POSITIVO' | translate}}</ion-list-header>
    <ion-list *ngFor="let e of movimenti" >
      <ion-item *ngIf="e.categoria.segno == 'ENTRATA'">
        <button ion-button  (click)="UpdateMovimento(e)" class="buttonList" block>
            <ion-grid>
                <ion-row>
                  <ion-col><h2 class="alignLeft">{{e.categoria.nome}}</h2></ion-col>
                  <ion-col><h2> {{'CURRENCY_VALUE'| translate}} +{{e.importo}}</h2></ion-col>
                </ion-row>
              </ion-grid>
        </button>
      </ion-item>
    </ion-list>
    
    <ion-list-header>{{'NEGATIVO' | translate}}</ion-list-header>
    <ion-list *ngFor="let u of movimenti" >
      <ion-item *ngIf="u.categoria.segno == 'USCITA'">
          <button ion-button (click)="UpdateMovimento(u)"class="buttonList" block>
            <ion-grid>
            <ion-row>
              <ion-col><h2 class="alignLeft">{{u.categoria.nome}}</h2></ion-col>
              <ion-col><h2>{{'CURRENCY_VALUE'| translate}} {{u.importo}}</h2></ion-col>
            </ion-row>
          </ion-grid>
          </button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>