<ion-header>

  <ion-navbar>
    <ion-title>{{'REGISTRATI'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #registerForm="ngForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>{{'NOME'|translate}}*</ion-label>
        <ion-input [(ngModel)]="utente.nome" type="text" #nome="ngModel" name="nome" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="nome.valid" color="danger" padding-left>{{'NAME_REQUIRED'|translate}}</p>
      <ion-item>
        <ion-label stacked>{{'COGNOME'|translate}}*</ion-label>
        <ion-input [(ngModel)]="utente.cognome" type="text" #cognome="ngModel" name="cognome" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="cognome.valid" color="danger" padding-left>{{'COGNOME_REQUIRED'|translate}}</p>
      <ion-item>
        <ion-label stacked>{{'USERNAME'|translate}}*</ion-label>
        <ion-input [(ngModel)]="utente.username" type="text" #username="ngModel" name="username" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="username.valid" color="danger" padding-left>{{'USERNAME_REQUIRED'|translate}}</p>
      <ion-item>
        <ion-label stacked>{{'PASSWORD'|translate}}*</ion-label>
        <ion-input [(ngModel)]="utente.password" type="password" #password="ngModel" name="password" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="password.valid" color="danger" padding-left>{{'PASSWORD_REQUIRED'|translate}}</p>
      <ion-item>
        <ion-label stacked>{{'FAMIGLIA'|translate}}*</ion-label>
        <ion-input [(ngModel)]="utente.famiglia.nome" type="text" #famiglia="ngModel" name="famiglia" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="password.valid" color="danger" padding-left>{{'FAMIGLIA_REQUIRED'|translate}}</p>
    </ion-list>
    <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onSubmit(registerForm)" type="submit" [disabled]="!registerForm.form.valid" block outline>{{ 'REGISTRATI' | translate }}</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="cancel()" block outline>{{'CANCEL_BUTTON' | translate}}</button>
        </ion-col>
      </ion-row>
  </form>
  <div class="centrato">
    <p>{{'FAMIGLIA_WARN2'|translate}}</p>
  </div>

</ion-content>