<ion-toolbar color="primary">
    
  <ion-row class="personal_md">
    <ion-col col-6 class="no_padding_top_bottom" centrato>
        <button ion-button value="portafoglio">
            PORTAFOGLIO
        </button>
      </ion-col>

      <ion-col col-3 class="no_padding_top_bottom" centrato>
          <button ion-button entrate value="entrate">
            ENTRATE
        </button>
        </ion-col>
    
      <ion-col col-3 class="no_padding_top_bottom" centrato>
        <button ion-button uscite value="uscite">
            USCITE
        </button>
      </ion-col>
    </ion-row>
    </ion-toolbar>
<!--
      <button ion-button (click)="portafoglioView()" class="Bottone">
        <ion-icon name="add-circle" ></ion-icon>
      </button>
-->

<ion-content padding color="primary">
<ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card class="ion-text-center">
  <ion-label color="secondary" [(ngModel)]="number" (input)="totalMovimento()"></ion-label>
</ion-card>

<ion-list>
  <ion-list-header>{{'POSITIVO' | translate}}</ion-list-header>

  <ion-list *ngFor="let movimento of movimenti$ | async" [routerLink]="['/movimenti', movimento.id]" routerDirection="forward" detail="true">
    <ion-item *ngIf="movimento.categoria.segno == 'ENTRATA'">
        <ion-col class="small">{{movimento.data | date:'dd/MM'}}</ion-col>
        <ion-col class="centrato">{{movimento.categoria.nome}}</ion-col>
        <ion-col class="alignRight green">+ {{movimento.importo}} {{'CURRENCY_VALUE'| translate}}</ion-col>
    </ion-item>
</ion-list>

    <!--<ion-list *ngFor="let e of movimenti" >
    <ion-item *ngIf="e.categoria.segno == 'ENTRATA'">
      <button ion-button  (click)="updateMovimento(e)" class="buttonList" block>
          <ion-grid>
              <ion-row>
                <ion-col><h2 class="alignLeft">{{e.categoria.nome}}</h2></ion-col>
              <ion-col><h2> {{'CURRENCY_VALUE'| translate}} +{{e.importo}}</h2></ion-col>
              </ion-row>
            </ion-grid>
      </button>
    </ion-item>
  </ion-list>-->
  
  <ion-list-header>{{'NEGATIVO' | translate}}</ion-list-header>

  <ion-list *ngFor="let movimento of movimenti$ | async" [routerLink]="['/movimenti', movimento.id]" routerDirection="forward" detail="true">
    <ion-item *ngIf="movimento.categoria.segno == 'USCITA'">
        <ion-col class="small">{{movimento.data | date:'dd/MM'}}</ion-col>
        <ion-col class="centrato">{{movimento.categoria.nome}}</ion-col>
        <ion-col class="alignRight red">- {{movimento.importo}} {{'CURRENCY_VALUE'| translate}}</ion-col>
    </ion-item>
</ion-list>


</ion-list>
</ion-content>