<ion-toolbar color="primary">

  <ion-row class="personal_md">
    <ion-col col-6 class="no_padding_top_bottom" centrato>
      <button ion-button value="portafoglio">
        PORTAFOGLIO
      </button>
    </ion-col>

    <ion-col col-3 class="no_padding_top_bottom" centrato>
      <button ion-button entrate value="entrate">
        ENTRATE
      </button>
    </ion-col>

    <ion-col col-3 class="no_padding_top_bottom" centrato>
      <button ion-button uscite value="uscite">
        USCITE
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>
<!--
      <button ion-button (click)="portafoglioView()" class="Bottone">
        <ion-icon name="add-circle" ></ion-icon>
      </button>
-->

<ion-content padding color="primary">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="ion-text-center">
    <ion-label color="secondary"></ion-label>
  </ion-card>

  <ion-list>

    <!-- ENTRATE -->
    <ion-list-header>{{'POSITIVO' | translate}}</ion-list-header>

    <ion-list *ngFor="let m of movimenti$ | async" [routerLink]="['/movimenti', m.id]" routerDirection="forward"
      detail="true">
      <ion-item *ngIf="m.categoria.segno == 'ENTRATA'">
        <ion-col class="small">{{m.data | date:'dd/MM'}}</ion-col>
        <ion-col class="centrato">
          <ion-item-option color="secondary" (click)="updateMovimento(m)">{{m.categoria.nome}}</ion-item-option>
        </ion-col>
        <ion-col class="alignRight green">+ {{m.importo}} {{'CURRENCY_VALUE'| translate}}</ion-col>
      </ion-item>
    </ion-list>

    <!-- USCITE -->
    <ion-list-header>{{'NEGATIVO' | translate}}</ion-list-header>

    <ion-list *ngFor="let n of movimenti$ | async" [routerLink]="['/movimenti', n.id]" routerDirection="forward"
      detail="true">
      <ion-item *ngIf="n.categoria.segno == 'USCITA'">
        <ion-col class="small">{{n.data | date:'dd/MM'}}</ion-col>
        <ion-col class="centrato">
          <ion-item-option color="secondary" (click)="updateMovimento(n)">{{n.categoria.nome}}</ion-item-option>
        </ion-col>
        <ion-col class="alignRight red">- {{n.importo}} {{'CURRENCY_VALUE'| translate}}</ion-col>
      </ion-item>
    </ion-list>


  </ion-list>
</ion-content>