<ion-app>
    <!--<ion-split-pane>-->
      <ion-menu *ngIf="(utente$ | async) as utente">
        <ion-header>
          <ion-toolbar color="secondary" class="user-profile">
            <ion-item>
              <ion-label>
                <ion-text color="dark">
                  <h1><strong> {{utente.cognome + ' ' + utente.nome}}</strong></h1>
                </ion-text>
                <ion-text color="dark">
                  <h3>{{utente.ruolo | uppercase}}</h3>
                </ion-text>
                <ion-menu-toggle auto-hide="false">
                  <ion-button fill="solid" size="small" color="dark" (click)="profilo()">
                    <ion-icon name="list" color="light"></ion-icon>{{'PROFILO_MENU' | translate}}</ion-button>
                  <ion-button fill="solid" size="small" color="light" (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>{{'LOGOUT_MENU' | translate}}</ion-button>
                </ion-menu-toggle>
              </ion-label>
            </ion-item>
          </ion-toolbar>
        </ion-header>

        
        <ion-content class="bg-profile" color="primary">
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let studente of menuStudenti">
              <ion-item [routerLink]="[studente.url]" (click)="openPage(studente.url)" [hidden]="utente.ruolo=='docente'" detail="true">
                <ion-icon slot="start" [name]="studente.icon" color="black"></ion-icon>
                <ion-label>{{studente.title | translate}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngFor="let docente of menuDocenti">
              <ion-item [routerLink]="[docente.url]" (click)="openPage(docente.url)" [hidden]="utente.ruolo=='studente'" detail="true">
                <ion-icon slot="start" [name]="docente.icon" color="black"></ion-icon>
                <ion-label>{{docente.title | translate}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    <!--</ion-split-pane>-->
  </ion-app>
  