<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILO' | translate }} 
      <h3 *ngIf="utente"><strong> {{utente.cognome + ' ' + utente.nome}}</strong></h3>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="profiloFormModel">


      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="profiloFormModel.get('username').touched && profiloFormModel.get('username').invalid">
        <ion-text color="danger">{{ 'USERNAME_REQUIRED' | translate }}</ion-text>
      </p>

      <ion-item>

        <ion-label position="fixed">{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
        </ion-select>
      </ion-item>


      <div margin-top="30px" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="onSubmit()" [disabled]="!profiloFormModel.valid" tappable>
        {{ 'SAVE_BUTTON' | translate }}
      </ion-button>
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="cancel()" tappable>
        {{ 'CANCEL_BUTTON' | translate }}
      </ion-button>
    </div>
  </form>

</ion-content>




