  .center {
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
/*
  ion-list{
    height: 80%;
  }*/

 /* .buttonList:hover{
    background: transparent !important;
}*/

.green{
  color: green;
}

.red{
  color: red;
}

ion-item-option{
  width: 80%;
}

.delete{
  height: 60%;
  border-radius: 30%;
  background-color: red;
  margin-left: 20px;
}