<ion-header>

  <ion-navbar>
    <ion-title>{{'IMPOSTAZIONI_TAB' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!------- PROFILO------->
  <button ion-button block (click)="profilo()">{{'PROFILO' | translate}}</button>
  <!------- VALUTA & LINGUA------->
  <ion-item>
    <ion-label>{{ 'LANGUAGE_CURR' | translate }}</ion-label>
    <ion-select [(ngModel)]="linguaPreferita" (ionChange)="setLingua()">
      <ion-option *ngFor="let lang of lingue" [value]="lang.valore">{{lang.etichetta}}, {{lang.currency}}</ion-option>
    </ion-select>
  </ion-item>
  <!------- INFO------->
  <button ion-button block (click)="info()">Info</button>
  <!------- LOGOUT------->
  <button ion-button block (click)="logout()">{{'LOGOUT'| translate}}</button>
</ion-content>